/*
    Whitney
*/

@font-face {
    font-family: 'Whitney-Book';
    src: url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-Book.woff2') format('woff2'),
        url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-Medium';
    src: url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-Medium.woff2') format('woff2'),
        url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-MediumItalic';
    src: url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-MediumItalic.woff2') format('woff2'),
        url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney-Semibold';
    src: url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-Semibold.woff2') format('woff2'),
        url('http://pages.clari.com/rs/866-BBG-005/images/Whitney-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
    Gotham
*/

@font-face {
    font-family: "Gotham-Book";
    src: url('http://pages.clari.com/rs/866-BBG-005/images/Gotham-Book.woff2') format('woff2'),
        url('http://pages.clari.com/rs/866-BBG-005/images/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gotham-Medium";
    src: url('http://pages.clari.com/rs/866-BBG-005/images/Gotham-Medium.woff2') format('woff2'),
        url('http://pages.clari.com/rs/866-BBG-005/images/Gotham-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}