$timing: .25s;
$timing-function: cubic-bezier(0.45, 0.03, 0.51, 0.95);

$xs: 480px;
$sm: 768px;
$md: 960px;
$xl: 1200px;

$radius: .4rem;
$gutter: 2rem;

$color-white: #fff;
$color-gray: #efeefb;
$color-gray-light: #e8edf4;
$color-blue-light: #00bbf6;
$color-red: #FE546D;
$color-default: #fff;